@import '../../sass/styles.scss';

.dropDown {
  background-color: #f6f6f6;
  width: 80%;
  margin: 0 auto;
  border-radius: 10px;
  margin-bottom: 20px;
  @media screen and (max-width: 500px) {
    width: 95%;
  }
  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $couleur-secondaire;
    color: $couleur-primaire;
    border-radius: 10px;
    font-weight: 500;
    font-size: 24px;
    padding: 10px 15px;
    &__arrow {
      &__up {
        transition: all 0.2s ease-in-out;
        transform: rotate(0deg);
      }
      &__down {
        transition: all 0.2s ease-in-out;
        transform: rotate(180deg);
      }
    }
  }
  &__content {
    padding: 10px;
    font-size: 20px;
    font-weight: 400;
    color: $couleur-secondaire;
    @media screen and (max-width: 500px) {
      font-size: 14px;
    }
  }
}
