@import '../../sass/styles.scss';
.logement {
  .information {
    color: #ff6060;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 3%;

    .appartement {
      display: flex;
      flex-direction: column;
      font-size: 14px;
      font-weight: 500;
      gap: 10px;
      &__title {
        color: $couleur-secondaire;
        font-family: Montserrat;
        font-size: 36px;
        font-style: normal;
        font-weight: 500;
      }
      &__location {
        color: $couleur-secondaire;
        font-family: Montserrat;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
      }
      .tags {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        &__item {
          background-color: #ff6060;
          border: none;
          border-radius: 10px;
          color: #fff;
          padding: 5px 15px;
        }
      }
    }
    .host {
      align-items: flex-end;
      display: flex;
      flex-direction: column;
      gap: 10px;
      &__name {
        align-items: flex-end;
        display: flex;
        flex-direction: column;
      }
      &__image {
        border-radius: 50%;
        width: 64px;
      }
      &__block {
        align-items: flex-end;
        display: flex;
        gap: 0 10px;
        justify-content: flex-end;
      }

      &__stars {
        display: flex;
        gap: 10px;
      }
    }
  }
}

.description {
  display: flex;
  flex-direction: row;
  gap: 5%;
  @media screen and (max-width: 600px) {
    flex-direction: column;
  }
  &__menu {
    width: 50%;
    @media screen and (max-width: 600px) {
      width: 100%;
    }
  }
  .menu {
    background-color: #f6f6f6;
      width: 100%;
      margin: 0 auto;
      border-radius: 10px;
      margin-bottom: 20px;
    
    &__title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: $couleur-secondaire;
      color: $couleur-primaire;
      border-radius: 10px;
      font-weight: 500;
      font-size: 24px;
      padding: 10px 15px;
      &__arrow {
        &__up {
          transition: all 0.2s ease-in-out;
          transform: rotate(0deg);
        }
        &__down {
          transition: all 0.2s ease-in-out;
          transform: rotate(180deg);
        }
      }
    }
    &__content {
      padding: 10px;
      font-size: 20px;
      font-weight: 400;
      color: $couleur-secondaire;
      @media screen and (max-width: 500px) {
        font-size: 14px;
      }
    }
  }
}
