@import '../../sass/styles.scss';

.header {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  &__logo {
    @media screen and (max-width: 500px) {
      width: 80%;
    }
  }
}

.headerBar {
  margin-left: auto; // Pour aligner à droite
  color: $couleur-secondaire;
  font-size: 24px;
  @media screen and (max-width: 500px) {
    font-size: 15px;
  }
  &__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    gap: 30px;
    @media screen and (max-width: 500px) {
      gap: 15px;
    }
    &__active {
      position: relative;
      color: $couleur-secondaire;
      text-decoration: underline solid $couleur-secondaire;
      &__text {
        @media screen and (max-width: 500px) {
          font-size: 1rem;
        }
      }
    }
  }
  &__text {
    @media screen and (max-width: 500px) {
      font-size: 1rem;
    }
  }
}
