@import '../../sass/styles.scss';
.banner {
  border-radius: 25px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url('../../assets/banner.jpg');
  background-position: center;
  background-size: cover;
  height: 223px;
  padding: 20px;
  margin: 40px auto;
  @media screen and (max-width: 800px) {
    height: 150px;
  }
  &__about {
    border-radius: 25px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url('../../assets/bannerAbout.png');
      background-position: center;
      background-size: cover;
      height: 223px;
      padding: 20px;
      margin: 40px auto;
  }
  &__text {
    color: $couleur-primaire;
    font-size: 48px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    margin-top: 5%;
    @media screen and (max-width: 800px) {
      font-size: 30px;
    }
  }
}
