@import '../../sass/variable.scss';
.error {
  color: $couleur-secondaire;
  &__card {
    padding-bottom: 20%;
    &__title {
      display: flex;
      justify-content: center;
      font-size: 250px;
      @media screen and (max-width: 500px) {
        font-size: 150px;
      }
    }
    &__text {
      font-size: 30px;
      text-align: center;
    }
    &__link {
      display: block;
      text-align: center;
      font-size: 18px;
      text-decoration: underline solid $couleur-secondaire;
    }
  }
}
